src/main/java/generated/person.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://foobar.com"
           xmlns:tns= "http://foobar.com"
           elementFormDefault="qualified">
    <xs:simpleType name="codeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"/>
            <xs:enumeration value="NOK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="personId" type="xs:integer"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="secondName" type="xs:string"/>
            <xs:element name="birthday" type="xs:date"/>
            <xs:element name="country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="personListType">
        <xs:sequence>
            <xs:element name="person" type="tns:personType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="result">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="tns:codeType"/>
                <xs:choice>
                    <xs:element name="personList"
                                type="tns:personListType" minOccurs="0"/>
                    <xs:element name="person" type="tns:personType" minOccurs="0"/>
                    <xs:element name="personId" type="xs:integer" minOccurs="0"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>